/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin: 10px 0;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#plot-container {
  margin-top: 30px;
}

.plot-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plot {
  /* width: %; */
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Space between plots */
}

.plot h3 {
  margin-top: 0;
}

.canvas-container {
  text-align: center;
}

.plot canvas {
  display: block; /* Ensures canvases stack vertically */
  margin: 10px 0; /* Adds vertical spacing between the two canvases */
}